- unless @record.nil?
  .container
    .row
      %hr
      %h2= @record.header
      .span2
        %p{:style => 'font-weight : bold'} Добавлено:
        %p=@record.created_at.to_s(:ru_datetime)
      .span8
        = render :inline => @record.text
      .span2
        %p{:style => 'font-weight : bold'} Обновлено:
        %p{:style => ''}=@record.created_at.to_s(:ru_datetime) 
    .row{:style => 'margin-top : 16px; text-align : center'}
      .span2
      .span8
        - unless @record.tag_list.nil?
          %p{:style => 'font-weight : bold'} Теги:
          %ul.breadcrumb
            - @record.tag_list.each do |tag|
              %li= link_to(tag, '/tags/' + tag) 
      .span2
