- unless @news.nil?
  - content_for :head, auto_discovery_link_tag(:atom, news_index_path(format: "atom"))
  %a{:href => news_index_path(format: "atom")} 
    %i.icon-rss.large 
    %p Подписаться на RSS
  .container
    - @news.each do |newz|
      .row
        %hr 
        %a{:href => news_path(newz.id)} 
          %h2= newz.header
        .span2
          %p{:style => 'font-weight : bold'} Добавлено:
          %p=newz.created_at.to_s(:ru_datetime)
        .span8
          = render :inline => newz.text if newz.text
        .span2
          %p{:style => 'font-weight : bold'} Обновлено:
          %p{:style => ''}=newz.created_at.to_s(:ru_datetime)
    = paginate @news
