- unless @news.nil?
  .container
    - @news.each do |newz|
      .row
        %hr 
        %a{:href => news_path(newz.id)} 
          %h2= newz.header
        .span2
          %p{:style => 'font-weight : bold'} Добавлено:
          %p=newz.created_at.to_s(:ru_datetime)
        .span8
          = render :inline => newz.text if newz.text
        .span2
          %p{:style => 'font-weight : bold'} Обновлено:
          %p{:style => ''}=newz.created_at.to_s(:ru_datetime)
    = paginate @news
