%h1 О нас
= link_to(image_tag('smartdrum.png', :style => 'margin: 0 auto 0 auto; display : block'), '#')
%h3 ООО "СмартДрам"
.container
  .row
    .span2
    .span8
      %p Наша компания является одним из наилучших производителей бубнов. Только у нас вы сможете найти бубны самого лучшего  качества и оптимальной цены.
      %p Мы производим как админские, так и шаманские бубны различных видов как ручной работы, так и в массовом производстве.
    .span2



