%h1 Наши партнеры :
.container
  .row
    .span4
    .span4
      %a{:href => 'http://bstu.ru'}
        %h3 БГТУ им. Шухова
        = image_tag('bstu.png')
    .span4
  .row
    .span4
    .span4
      %a{:href => 'http://it.bstu.ru'}
        %h3 Кафедра информационных технологий
        = image_tag('it.gif')
    .span4
  .row
    .span4
    .span4
      %a{:href => 'http://istok31.ru'}
        %h3 ООО "Исток"
        = image_tag('istok.png')
    .span4


