@import "bootswatch/united/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "bootswatch/united/bootswatch";
@import 'font-awesome';

h1 {
  text-align: center; 
}

h2 {
  text-align: center; 
}

h3 {
  text-align: center; 
}

#top_arrow {
  display: none; 
  position: fixed;
  text-decoration: none; 
  color: #dd4814;
  z-index: 9; 
}

#top_arrow a:hover i{
  color: #77216f!important;
  text-decoration: none; 
}