@import "bootswatch/united/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "bootswatch/united/bootswatch";

h1 {
  text-align: center; 
}

h2 {
  text-align: center; 
}

h3 {
  text-align: center; 
}