- unless @product.nil?
  .container
    .row
      %hr
      .span4
        %h2= @product.name
        = image_tag(@product.image, :size => '150x150', :style => 'display:block;margin:0 auto 0 auto') if @product.image?
      .span4
        %p{:style => 'font-weight : bold'} Описание : 
        = render :inline => @product.description if @product.description?
      .span4
        %p{:style => 'font-weight : bold'} Количество единиц на складе:
        %p=@product.count.to_s if @product.count?
        %p{:style => 'font-weight : bold'} Цена:
        %p=@product.price.to_s + ' рублей' if @product.price?
